@font-face {
    font-family: 'Bahnschrift';
    src: local('Bahnschrift'), local('Bahnschrift'),
        url('Bahnschrift.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}