// Fonts

$font-main: 'Verdana', sans-serif;
$font-accent: 'Bahnschrift', sans-serif;
$font-title: 'Arvo', sans-serif;

// Colors

$bg-color: #A48167;

$nav-bg-color: #E2BC91;

$color-accent: #ECD2B6;;

$btn-bg-color: #8A6E59;
$btn-active-color: #BC9476;
$btn-border-color: #785C47;

$image-border-color: #E2BC91;
$image-bg-color: #E8D8C4;

$modal-bg: rgba(71, 56, 44, 0.9);
$modal__row-bg-color: #ECD2B6;

$dot-color: #512D22;
$modal-dot-color: #251f1e;

$text-color: #000000;